<html>
<script type="text/javascript">
function check(checkcase, movie_id) {
    alert("testest");
    alert(checkcase);
    alert(movie_id);
    if(checkcase == "wishadd_success") {
        alert("찜목록에 추가");
        location.href="/moviedetail?id=" + movie_id;
    }
    if(checkcase == 'wishadd_err') {
        alert("이미 찜목록에 추가되어 있습니다.");
        location.href="/moviedetail?id=" + movie_id;
    }
    if(checkcase == "wishdel_success") {
        alert("찜목록에서 삭제");
        location.href="/moviedetail?id=" + movie_id;
    }
    if(checkcase == 'wishdel_err') {
        alert("찜목록에 없습니다.");
        location.href="/moviedetail?id=" +movie_id;
    }
    else{
         alert("check case에 없음");
        location.href="/moviedetail?id=" +movie_id;
    }
};
    
</script>
    <body> 
    <%
        check(<%=checkcase%>, <%=movie_id%>);    
    %>
    </body>
</html>