 <% layout('layout') -%>
 <br>
 <br>
 <br>
    <h1>hello</h1>
    ebbbdsfsdf
      <a href="/"> 이리로</a>
      <% if( typeof user !== "undefined") { %>
            <div class="alert alert-danger" style="margin-bottom: 10px" style="height:20px" ><%= user.nickname %> <a href="/auth/logout"> logout?</a></div>
          <% } else { %>
            <div ><a href="/auth/login"> 로그인 </a></div>
      <% } %>
