body {
    margin: 0;
    background-color: #191919;
    min-width: 600px;
}

nav {
    background: rgba(0, 0, 0, 0.4);
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 0px 50px;
    z-index: 11;
    box-sizing: border-box;
    justify-content: space-between;
}

nav span {
    display: flex;
}

.logo {
    display: flex;
    align-content: center;
    align-items: center;
    width: 190px;
    font-weight: 700;
    font-size: 23px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    color: white;
}

ul {
    display: flex;
    margin: 0;
}

li {
    width: 100px;
    list-style: none;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 18px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

li.active a {
    color: rgba(255,255,255,1.0);
    font-weight: 600;
}

li:hover {
    font-weight: 600;
    color: rgba(255,255,255,1.0);
    cursor: pointer;
}

.title {
    font-size: 3.8vw;
    font-weight: 600;
    margin-bottom: 35px;
}

.title span {
    white-space: nowrap;
}

.year {
    font-size: 1.8vw;
    margin-right: 30px;
    color: rgba(255,255,255,0.7);
    font-weight: bold;
}

.running {
    color: rgba(255,255,255,0.7);
    font-size: 1.8vw;

}

.info {
    margin-bottom: 20px;
}

.summary {
    font-size: 1.3vw;
    color: white;
    font-weight: 600;
}

.description {
    position: absolute;
    left: 0;
    top: 0.9vw;
    color: white;
    padding: 18vw 0 0 14vw;
    z-index: 2;
    width: 55vw;
}
.main-bg {
    width: 100%;
    position: relative;
}

.main-bg img {
    width: 100%;
    object-fit: fill;
    background-color: black;
}

.center-image {
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
}

.center-image.active {
    display: block;
    visibility: visible;
}

.center-image:after {
    content: " ";
    visibility: hidden;
    opacity: 1;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: display 0.5s, opacity 0.5s ease-out;
    right: 0;
    background: rgba(0, 0, 0, 1);
}

.center-image.active:after {
    visibility: visible;
    opacity: .64;
    transition: display 0.5s, opacity 0.5s ease-out;
}



svg:hover {
    color: white !important;
}

.main-slider-1 {
    position: static;
}

.row {
    box-sizing: border-box;
}

.row-container {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.row-container > div{
    padding: 0 60px;
}

.row-container > div > div {
    white-space: nowrap;
    position: relative;
    transition: 2s left;
    box-sizing: border-box;
    left: 0;
}

.row-item {
    box-sizing: border-box;
    width: 16.6667%;
    display: inline-block;
    background-color: #888;
    border: 3px solid #191919;
    position: relative;
    flex: 0 0 auto;
}

.row-item img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.row-item-title {
    font-size: 14px;
    background: rgba(255,255,255,0.8);
    padding: 3px 5px;
    box-sizing: border-box;
    position: absolute;
    color: black;
    bottom: 10px;
    font-weight: 600;
    left: 10px;
    border-radius: 5px;
}

.row-title {
    padding: 40px 50px 20px 50px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 27px;
    font-weight: 500;
}

.angle-container {
    height: 100%;
}
@media all and (max-width: 600px) {
    .row-item {
        width: 33.3333%;
    }
}
@media all and (min-width: 600px) and (max-width: 1200px) {
    .row-item {
        width: 25%;
    }
}
@media all and (min-width: 1200px) and (max-width: 1600px) {
    .row-item {
        width: 20%;
     }
}
@media all and (min-width: 1600px) {
    .row-item {
        width: 16.6667%;
    }
}

.category-wrapper {
    padding: 80px 60px;
}

.selector {
    display: inline-block;
    color: white;
    font-size: 1.3vw;
    font-weight: 200;
    position: relative;
    margin-right: 30px;
}

.selector-title {
    color: white;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.selector-title-wrapper {
    border: 1px solid rgba(255,255,255,0.3);
    padding: 7px 7px 7px 15px;
    cursor: pointer;
    display: flex;
    width: 18vw;
    box-sizing: border-box;
    justify-content: space-between;
}

.selector-item-list {
    border: 1px solid rgba(255,255,255,0.3);
    border-top: none;  
    max-height: 400px;
    width: 18vw;
    overflow-y: scroll;
    position: absolute;
    display: none;
    box-sizing: border-box;
}

.selector-item-list.active {
    display: block;
    z-index: 99;
    background: #191919;
}

.selector-item-list div {
    padding: 7px 7px 7px 15px;
}

.selector-item-list div:hover {
    color: white;
    cursor: pointer;
    font-weight: 400;
}

.category-title {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5vw;
    margin: 50px auto 15px auto;
}

.category-result-wrapper .row-item {
    margin-bottom: 60px;
}

.admin-wrapper {
    margin: 0 auto;
    max-width: 960px;
    border-radius: 6px;
    padding: 120px 0 120px;
}

.admin-wrapper > div {
    padding: 40px;
}

.admin-wrapper > form > div {
    background-color: white;
    box-sizing: border-box;
    padding: 10px 20px;
}

textarea {
    resize: none;
    border: none;
    height: 24px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

textarea:focus {
    border-bottom: 2px solid #0277bd;
}

.form-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc; 
    color: rgba(0 ,0, 0, .87);
}

.form-item textarea {
    width: 75%;
}

button.movie-register {
    float: right;
    padding: 7px 18px;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    background-color: #0277bd;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}


.top-wrapper {
    display: flex;
    margin-bottom: 45px;
    justify-content: space-between;
}

.searchbar {
    width: 35vw;
    background-color: #191919;
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    height: 56px;
    box-sizing: border-box;
    font-size: 1.3vw;
    font-weight: 200;
    padding: 0 65px 0 15px;
    display: block;
}

.searchbar-wrapper {
    position: relative;
}

.searchbar-wrapper span {
    position: absolute;
    top: 50%;
    cursor: pointer;
    color: gray;
    transform: translateY(-50%);
    right: 15px;
}

span.user {
    flex-direction: column;
    position: relative;
}

.user > li {
    height: 100%;
}

.user span li {
    width: 100px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid gray;
    align-items: center;
}

span.user span {
    position: absolute;
    top: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    display: none;
}

.user span {
    flex-direction: column;
}

.user span.active {
    display: flex;
}

.admin-wrapper > div {
    background-color: white;
}

.plus-icon-wrapper svg {
    position: fixed;
    bottom: 50px;
    cursor: pointer;
    right: 50px;
    color: white;
}

hr {
    margin: 50px 15px;
    color: gray;
}

.result-header span {
    display: inline-block;
    padding: 10px 6px 10px 20px;
    box-sizing: border-box;
    font-size: 22px;
    color: black;
}

.admin-wrapper span:nth-child(1) {
    width: 50%;
}

.admin-wrapper span:nth-child(2) {
    width: 20%;
}

.admin-wrapper span:nth-child(3) {
    width: 20%;
}

.admin-wrapper span:nth-child(4) {
    width: 10%;
}

.admin-search {
    width: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 7px 10px 10px 7px;
    border-radius: 3px;
    font-size: 21px;
}

.admin-search-wrapper {
    padding: 0 15px;
    margin-bottom: 20px;
}

.admin-result span {
    display: inline-block;
    padding: 3px 4px 3px 20px;
    box-sizing: border-box;
}

.admin-result div:hover {
    background-color: #eee;
    cursor: pointer;
}

.chart-cat {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.chart-cat > span {
    width: 50% !important;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    cursor: pointer;
}

.chart-cat > span:hover {
    background-color: #eee;
}

.chart-cat > span.active {
    border-bottom: 4px solid black;
}

canvas.hidden {
    display: none !important;
}

.admin-settings {
    visibility: hidden;
}

.admin-settings svg:hover {
    background-color: black;
}

.ReactModalPortal textarea {
    width: 500px;
    height: 500px;
}